/* Thems  Start */
body {
  --bgColor: #081b29;
  --mainColor: #00abf0;
  --textColor: #333;
  --secTextColor: #555;
  --white: #fff;
  --coverColor: linear-gradient(45deg, #00abf0, #006e9a);
  --pageColor: linear-gradient(90deg, #fff, #ddd);
  --boderColor: 0.125rem solid var(--mainColor);
  --boxShadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}
body.theme1 {
  --bgColor: #222;
  --mainColor: #ff5733;
  --coverColor: linear-gradient(45deg, #ff5733, #d64124);
}
body.theme2 {
  --bgColor: #333;
  --mainColor: #55d6be;
  --coverColor: linear-gradient(45deg, #55d6be, #389e8a);
}
body.theme3 {
  --bgColor: #1a1a1a;
  --mainColor: #ffa500;
  --coverColor: linear-gradient(45deg, #ffa500, #ff6600);
}
body.theme4 {
  --bgColor: #2e0854;
  --mainColor: #ff00ff;
  --coverColor: linear-gradient(45deg, #ff00ff, #9400d3);
}
body.theme5 {
  --bgColor: #121212;
  --mainColor: #e84d49;
  --coverColor: linear-gradient(45deg, #e84d49, #ff7a75);
}
body.theme6 {
  --bgColor: #262626;
  --mainColor: #ffd700;
  --boderColor: 0.125rem solid var(--mainColor);
}
body.theme7 {
  --bgColor: #1c2331;
  --mainColor: #ff6b6b;
  --coverColor: linear-gradient(45deg, #ff6b6b, #ffc3a0);
}
body.theme8 {
  --bgColor: #1d2671;
  --mainColor: #ff5733;
  --coverColor: linear-gradient(45deg, #ff5733, #ffb347);
}
body.theme9 {
  --bgColor: #3e2723;
  --mainColor: #ff9800;
  --borderColor: 0.125rem solid #ff9800 !important;
  --coverColor: linear-gradient(45deg, #ff9800, #ffb74d);
}

/* Thems  Start End */
/* common css  */
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bgColor);
  color: var(--bgColor);
  font-family: "Roboto", sans-serif;
}

.experience {
  overflow-y: auto;
  height: 90%;
  scrollbar-width: thin;
}

ul li::marker {
  color: var(--mainColor);
}
.workeduc-content {
  position: relative;
}
.workeduc-content::after {
  content: "";
  height: 100%;
  width: 2px;
  background: var(--mainColor);
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  z-index: -1;
}
p#sentMsg {
  position: fixed;
  top: 0;
  background: var(--mainColor);
  color: #fff;
  left: 0;
  right: 0;
  font-weight: 600;
  padding: 12px;
  display: none;
}
