@import url("./common.css");

.wrapper {
  position: relative;
  width: 66rem;
  height: 45rem;
  padding: 1.5rem;
  animation: show-animation 2s forwards;
  overflow: hidden;
  perspective: 250rem;
}

@keyframes show-animation {
  0%,
  30% {
    opacity: 0;
    transform: rotate(-20deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--coverColor);
  box-shadow: var(--boxShadow);
  border-radius: 0.6rem 0 0 0.6rem;
  transform-origin: right;
}

.cover-left {
  z-index: -1;
}

.cover.cover-right {
  z-index: 100;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cover-right.turn {
  transform: rotateY(180deg);
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}

.book .book-page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--pageColor);
  box-shadow: 0 0 0.6rem rgba(0 0 0 0.1);
  display: flex;
  padding: 1.5rem;
}

.book-page.page-left {
  box-shadow: 0.6rem 0 0.6rem 0.6rem rgba(0 0 0 0.1);
}

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 0.25rem solid var(--mainColor);
  margin-bottom: 0.8rem;
}

.profile-page h1 {
  font-size: 1.6rem;
  line-height: 1;
}

.profile-page h3 {
  font-size: 1.1rem;
  color: var(--mainColor);
}

.social-media {
  margin: 0.6rem 0 0.8rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  background: transparent;
  border-radius: 50%;
  border: var(--boderColor);
  color: var(--mainColor);
  font-size: 1.3rem;
  margin: 0 0.2rem;
  transition: all 0.3s ease;
}

.social-media a:hover {
  background: var(--mainColor);
  color: var(--white);
}

.profile-page p {
  text-align: justify;
}

.btn-box {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  background: var(--mainColor);
  border: var(--boderColor);
  border-radius: 0.3rem;
  font-size: 14px;
  color: var(--white);
  font-weight: 500;
  transition: 0.3s linear;
  padding: 8px 16px;
}

.btn:hover {
  background: transparent;
  color: var(--mainColor);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--mainColor);
}

.btn-box .btn:nth-child(2):hover {
  background: var(--mainColor);
  color: var(--white);
}

.book-page.page-right {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.book-page.page-right.turn {
  transform: rotateY(-180deg);
}

.page-front,
.page-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pageColor);
  padding: 1.2rem;
}

.page-front {
  transform: rotateY(0deg) translateZ(1px);
}

.page-back {
  transform: rotateY(180deg) translateZ(1px);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.workeduc-box {
  border-left: var(--boderColor);
}

.workeduc-content {
  position: relative;
  padding-left: 1.6rem;
  margin-bottom: 1.2rem;
}

.workeduc-content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  left: -0.65rem;
  background: var(--mainColor);
  border-radius: 50%;
}

.workeduc-content .year {
  color: var(--mainColor);
  font-size: 14px;
}
.workeduc-content h3 {
  font-size: 16px;
}

.workeduc-content li {
  font-size: 12px;
  line-height: 1.5;
}
.workeduc-content p {
  font-size: 14px;
  line-height: 1.5;
}

.workeduc-content .year i {
  margin-right: 0.4rem;
}

.number-page {
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  background: var(--mainColor);
  border-radius: 50%;
  color: var(--white);
  display: grid;
  place-items: center;
}

.next-prev-btn {
  position: absolute;
  bottom: 0.9rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
  background: var(--mainColor);
  color: var(--white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 0.4rem;
}

.next-prev-btn:hover {
  color: var(--mainColor);
  background: var(--white);
}

.next-prev-btn.back {
  left: 1.5rem;
}

.services-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.services-content {
  flex: 1 1 10rem;
  border: var(--boderColor);
  border-radius: 0.5rem;
  padding: 12px;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.services-content:hover {
  box-shadow: var(--boxShadow);
}

.services-content i {
  font-size: 2.5rem;
  color: var(--mainColor);
}

.services-content h3 {
  font-size: 1rem;
}

.services-content p {
  text-align: justify;
  font-size: 14px;
}

.skill-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skill-content {
  flex: 1 1 20rem;
}

.skill-content h3 {
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0.6rem;
}

.skill-content .content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.skill-content .content span {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
  font-weight: 600;
  width: 6rem;
  height: 5rem;
  border: var(--boderColor);
  transition: 0.3s ease;
  cursor: pointer;
}

.skill-content .content span:hover {
  box-shadow: var(--boxShadow);
}

.skill-content .content span i {
  font-size: 3rem;
  color: var(--mainColor);
}

.portfolio-box .img-box {
  border-radius: 0.5rem;
  border: var(--boderColor);
  overflow: hidden;
}

.portfolio-box .img-box img {
  object-fit: cover;
  height: 80px;
  width: 100%;
  transition: 0.3s ease;
  transform: scale(1.1);
}

.portfolio-box .img-box img:hover {
  transform: scale(1.2);
}

.portfolio-box .info-box {
  padding: 12px;
  border-radius: 4px;
  overflow: hidden;
}

.portfolio-box .info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.portfolio-box .info-title h3 {
  font-size: 14px;
}

.portfolio-box .info-title a {
  display: flex;
  align-items: center;
  color: var(--mainColor);
  font-size: 14px;
}

.portfolio-box {
  width: 230px;
  height: auto;
  -webkit-box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.75);
}

.portfolio-box .info-title a i {
  margin-left: 0.3rem;
}

.tech-used {
  font-weight: 500;
  margin-bottom: 0.5rem;
  word-break: break-word;
}

.info-box p {
  font-size: 14px;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio-box .btn-box {
  display: flex;
  justify-content: center;
}

.portfolio-box .btn {
  margin: 0 1.15rem;
}

.contact-box {
  text-align: center;
}

.contact-box .field {
  width: 100%;
  background: transparent;
  border: var(--boderColor);
  border-radius: 0.3rem;
  padding: 0.8rem;
  font-size: 1rem;
  color: var(--textColor);
  margin-bottom: 1.5rem;
}

.contact-box .field::placeholder {
  color: var(--textColor);
  font-family: "Roboto", sans-serif;
}

.contact-box textarea {
  resize: none;
  height: 15rem;
}

.contact-box .btn {
  cursor: pointer;
}

.back-profile {
  position: absolute;
  bottom: 1.2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: var(--boderColor);
  border-radius: 0.3rem;
  color: var(--mainColor);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  transition: 0.3s ease;
}

.back-profile:hover {
  background: var(--mainColor);
  color: var(--white);
}

.back-profile p {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  font-size: 1rem;
  color: var(--mainColor);
  opacity: 0;
  transition: 0.3s ease;
}

.back-profile:hover p {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  top: -1.8rem;
}

/* After Added Code  */

.own-project-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.own-project-btn a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.own-project-btn a i {
  font-size: 1rem;
}
.hackerrank {
  width: 24px;
  height: 24px;
}

.projects {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0;
    border: 4px solid var(--mainColor);
    height: 44rem;
  }

  .profile-page {
    align-items: unset;
  }
  .book .book-page {
    padding: 8px;
  }
  .profile-page img {
    width: 80px;
    height: 80px;
  }
  .profile-page h1 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .profile-page h3 {
    font-size: 14px;
  }
  .social-media a {
    width: 30px;
    height: 30px;
  }
  .social-media {
    display: flex;
    align-items: center;
  }
  .profile-page p {
    font-size: 12px;
    padding-bottom: 8px;
  }
  .btn-box {
    flex-direction: column;
  }
  .btn {
    width: 100%;
    font-size: 12px;
    margin: 0;
  }
  .btn-box .btn:nth-child(2) {
    margin-top: 12px;
  }
  /* Next page 2 */
  .page-front {
    padding: 8px;
    margin: 0;
  }
  .workeduc-content {
    padding: 4px 8px;
    margin: 0;
  }
  .title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .workeduc-content::before {
    width: 12px;
    height: 12px;
    left: -7px;
  }
  .workeduc-content .year {
    font-size: 12px;
  }
  .workeduc-content h3 {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .workeduc-content ul {
    font-size: 12px;
    text-align: justify;
  }
  /* page 3  */
  .page-back {
    padding: 8px;
  }
  .workeduc-box p {
    font-size: 12px;
    text-align: justify;
  }
  .services-content h3 {
    font-size: 14px;
  }
  .services-content {
    padding: 4px;
  }
  .services-content p {
    font-size: 12px;
    margin: 0;
  }
  .services-content i {
    font-size: 22px;
  }
  .own-project-btn {
    flex-direction: column;
    gap: 12px;
  }
  .services-content .btn {
    width: 100%;
    height: 30px;
    font-size: 12px;
  }
  .services-content a {
    font-size: 12px;
  }
  .services-content p {
    padding: 10px 0;
  }
  .services-box {
    gap: 12px;
  }
  .skill-content h3 {
    font-size: 16px;
    text-decoration: overline;
  }
  .skill-content .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  .skill-box {
    gap: 10px;
  }
  .skill-content .content span {
    width: 5rem;
    height: 4rem;
  }
  .skill-content .content span i {
    font-size: 32px;
  }
  .portfolio-box .img-box {
    height: 7rem;
  }
  .portfolio-box .info-title h3 {
    font-size: 16px;
  }
  .portfolio-box .info-title {
    align-items: unset;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 10px;
  }
  .tech-used {
    word-break: break-all;
    font-size: 15px;
  }
  .info-title p {
    font-style: 15px;
  }
  .portfolio-box .btn {
    margin: 0;
  }
  .btn-diff .btn:nth-child(2) {
    margin: 0;
  }
  .portfolio-box .btn-diff {
    flex-direction: column;
    gap: 12px;
    padding-right: 8px;
  }
}
